/* Apply a background color and a subtle gradient to the body */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuggles&family=Lato:wght@900&family=Quicksand:wght@300;400;500;600&display=swap');
body {
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.0vw;
}

/* Center the entire container both horizontally and vertically */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 4%;
  max-width: 60ch;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff; /* Add a background color */
}

/* Style the heading font with a text shadow for emphasis */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  color: #f5f5f5;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 1rem;
}

.question
{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1rem;
}

input{
  display: flex;
}

li{
  display: flex;
}
/* Style the buttons for better user interaction */
button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #f5f5f5;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem; /* Increase the padding for a larger clickable area */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button:hover {
  background-color: #000000;
  color: #1c7c08;
  border: 2px solid #f5f5f5;
}

button:focus {
  outline: none;
}

/* Style the select dropdown for better aesthetics */
select {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #f5f5f5;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

select:hover {
  background-color: #000000;
  color: #1c7c08;
  border: 2px solid #f5f5f5;
}

select:focus {
  outline: none;
}

/* Style the countdown timer circle */
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid lightblue;
  animation: countdown 30s linear infinite;
}

@keyframes countdown {
  0% { border-top-color: lightblue; }
  25% { border-top-color: white; }
  50% { border-bottom-color: white; }
  75% { border-bottom-color: lightblue; }
  100% { border-top-color: lightblue; }
}