
.container
{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  border-style: dotted;
  height: 400px;
  width: 400px;
  place-self: center;
  margin-left: 30%;
}
